.SeachBar_Content_Container{
    position: absolute;
    top: 100px;
    width: 100%;
}
.searchPropmpt_and_SearchBar{
    position: absolute;
    top: 10px;
    width: 400px;
    left: 249px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    background-color: lightgray;
    margin: 9px;
    border: black solid
}